.phrase {
    padding-top: 18rem;

    spam {
        color: brown
    }
}

.title-phrase {
    font-size: 6rem;
}

.container5 {
    @include background-page('../images/falcon9/01.jpg');
}


.container6 {

    .img-background {
        @include background-page('../images/falcon9/02.jpg');
    }
}

.falcon9-container {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
}

.container7 {
    min-height: 100vh;

    .falcon9-container {
        margin: 0;       
    }

    .overViewPosition {
        display: flex;
        flex-direction: column;
        padding-left: 20rem;
        align-items: start; 
        width: 70vh;
    }
}